.App {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    right: 0;
    bottom: 0;
}

.App > * {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: auto;
}

.App > canvas {
    left: 0;
    width: calc(100% - 320px);
}

.App > aside {
    right: 0;
    width: 320px;
    background-color: var(--theme-color-frame);
    color: var(--theme-color-on-frame);
    overflow: auto;
}
