:root {
    --theme-color-screen: hsl(212, 10%, 40%);
    --theme-color-on-screen: #000;
    --theme-color-frame: hsl(212, 10%, 60%);
    --theme-color-on-frame: #000;
    --theme-color-section: hsl(212, 10%, 80%);
    --theme-color-on-section: #000;
    --theme-color-input: hsl(212, 10%, 100%);
    --theme-color-on-input: #000;
    --theme-color-primary: hsl(212, 100%, 50%);
    --theme-color-on-primary: #000;
    --theme-color-accent: hsl(32, 100%, 50%);
    --theme-color-on-accent: #000;
}

body, html, #app {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--theme-color-screen);
    color: var(--theme-color-on-screen);
    font-size: 16px;
}    

button.floating-button {
    border: none;
    background-color: var(--theme-color-accent);
    color: var(--theme-color-on-accent);
    display: grid;
    place-items: center;
    width: 2em;
    height: 2em;
    box-shadow: 0 .125em .25em #000;
    overflow: hidden;
    border-radius: 50%;
    padding: 0;
}

button.floating-button > svg {
    width: 1.5em;
    height: 1.5em;
    margin: 0;
    padding: 0;
}

button {
    font-size: 120%;
    border: none;
    cursor: pointer;
    margin: .5em;
    padding: 0 .5em;
    line-height: 2em;
    background: var(--theme-color-primary);
    color: var(--theme-color-on-primary);
    box-shadow: 0 .125em .25em #000;
    font-variant: small-caps;
    font-weight: bolder;
}